.navbar a {
    text-decoration: none;
    padding :  17px;
    color: white;
    font-size: 20px;
}

.navbar a:hover {
    background-color: white;
    color: black;
}

.navbar {
    background-color : black;
    color : white;
    padding : 17px;
    margin-top: 20px;
}